<section class="container">
    <h2>List of cocktails</h2>
    <ul>
        <% @cocktails.each do |c| %>
        <div class="card-category" style="">
            <li> <%= link_to c.name, cocktail_path(c) %> </li>
        </div>
        <%end%>
    </ul>
    <p><%= link_to "Add a cocktail", new_cocktail_path %></p>
</section>
